<ion-view view-title="Contact">
    <ion-content ng-class="{expanded:isExpanded}"  
        <div class="list">
                <a class="item item-avatar">
                    <img src="img/add.png">
                    <h2>Address</h2>
                    <p>34, A.A.Road,<br>Sundarajapuram,<br> MADURAI - 625011, India.</p>
                </a><br>
                <a class="item item-avatar">
                    <img src="img/tele.png">
                    <h2>Telephone Number</h2>
                    <p>0452-2676462</p>
                </a><br>
                <a class="item item-avatar">
                    <img src="img/fax.png">
                    <h2>Fax Number</h2>
                    <p>0452-4366462</p>
                </a><br>
                <a class="item item-avatar">
                    <img src="img/mail.png">
                    <h2>Email-ID</h2>
                    <p>padmalayamedicalcenter@gmail.com</p>
                </a><br>
               
            </div>


           </div>
            </div>
        </div>
    </ion-content>
</ion-view>
