<ion-view view-title="Facilities">
    <ion-content ng-class="{expanded:isExpanded}">
        <div class="content has-header">
            <div class="list ">
                <a class="item item-avatar item-icon-right">
                    <img src="img/jon-snow.jpg">
                    <h2>Laparoscopic and General Surgery</h2>
                </a>
                 <a class="item item-avatar item-icon-right">
                    <img src="img/jon-snow.jpg">
                    <h2>Accident and Emergency Care</h2>
                </a>
                <a class="item item-avatar item-icon-right">
                    <img src="img/jon-snow.jpg">
                    <h2>Diabetic Clinic</h2>
                </a>
                <a class="item item-avatar item-icon-right">
                    <img src="img/jon-snow.jpg">
                    <h2>ENT Surgery</h2>
                </a>
                <a class="item item-avatar item-icon-right">
                    <img src="img/jon-snow.jpg">
                    <h2>Surgical Gastroenterology</h2>
                </a>
                <a class="item item-avatar item-icon-right">
                    <img src="img/jon-snow.jpg">
                    <h2>Obstetrics and Gynaecology</h2>
                </a>
                <a class="item item-avatar item-icon-right">
                    <img src="img/jon-snow.jpg">
                    <h2>Orthopaedics</h2>
                </a>
                <a class="item item-avatar item-icon-right">
                    <img src="img/jon-snow.jpg">
                    <h2>Paediatrics and Neonatology</h2>
                </a>
                <a class="item item-avatar item-icon-right">
                    <img src="img/jon-snow.jpg">
                    <h2>Intensive Care Unit</h2>
                </a>
                <a class="item item-avatar item-icon-right">
                    <img src="img/jon-snow.jpg">
                    <h2>Spine Surgery</h2>
                </a>
                <a class="item item-avatar item-icon-right">
                    <img src="img/jon-snow.jpg">
                    <h2>X Ray</h2>
                </a>
                 <a class="item item-avatar item-icon-right">
                    <img src="img/jon-snow.jpg">
                    <h2>ECG, Scan(3D),ECHO</h2>
                </a>
                </div>
        </div>
    </ion-content>
</ion-view>
