<ion-view view-title="Login" align-title="left">
    <ion-content style="background: url(img/hero-bg.png) center; background-size: cover;">
        <div class="hero no-header flat">
            <div class="content">
            <div class="avatar" style="background-image: url('img/pmc.jpg');"></div>
            <h3><a class="light">Padmalaya Medical Centre</a></h3>
            </div>
        </div>
           
        <div class="padding">
            <button ui-sref="app.pmc" class="button button-full button-assertive ink">My checkup</button>
        </div> 
    </ion-content>

</ion-view>
