<ion-view view-title="Facilities">
    <ion-content ng-class="{expanded:isExpanded}">
        <div class="content has-header">
            <div class="list card royal-100-bg">
                <div class="item item-avatar">
                    <img src="img/jon-snow.jpg" ><font color="brown" size=6><strong></strong>Dr.R.GuruSundar</font><br>
                    <i class="icon ion-clock"></i> <b>Time: 9.00 AM - 12.00 PM and 6.00 pm - 10.00 pm   </b>
                </div>
                <div class="item item-body">
            <b>   He is specialist in Paediatrics. <br>
                             </b>
                </div></div>
        </div>
    </ion-content>
</ion-view>
